<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
    <p> 
      <%= song.title %>
      -
      <%= song.artist.name %>
      -
      <%= song.released_on%>
      -
      <%= link_to 'Show', song %>
      <%= link_to 'Edit', edit_song_path(song) %>
      <%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
