<!DOCTYPE html>
<html>
  <head>
    <title>Billboards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to("Home", root_path)%>
      <%= link_to("All Artists", artists_path)%>
      <%= link_to("All Songs", songs_path)%>
      <%= link_to("Billboard Charts", billboards_path)%>
    </nav>

    <%= yield %>
  </body>
</html>
